---
import { Image } from "astro:assets"
import ArrowLeft from "../images/arrow-left.svg"
import ArrowRight from "../images/arrow-right.svg"
---

<div class="pnWrapper">
    {0 < Astro.props.prev.length && 
        <a href={`/blog/${Astro.props.prev[0].slug}`}>
            <Image src={ArrowLeft} alt="arrow-left"/>
            <h3> {Astro.props.prev[0].data.title}</h3>
        </a>
    }
    {0 < Astro.props.next.length && 
        <a href={`/blog/${Astro.props.next[0].slug}`}>
            <h3>{Astro.props.next[0].data.title}</h3>
            <Image src={ArrowRight} alt="arrow-right"/>
        </a>
    }
</div>